<div class="h-screen flex md:flex-row flex-col">
  <div class="md:w-1/2 bg-img md:h-full h-1/2">
    <h1 class="text-2xl text-center text-[white] font-bold py-8 md:py-16">
      The E-comm Hub
    </h1>
  </div>
  <div class="md:w-1/2 flex items-center px-16">
    <div class="font-secondary w-full md:p-0 py-6">
      <h3 class="my-4 font-bold text-2xl">Sign up</h3>
      <p class="text-primary text-xs">
        Already have an account?
        <a routerLink="/login" class="text-[#38cb89]">Login</a>
      </p>
      <form class="md:w-2/3 block">
        <input
          type="text"
          class="border-b my-4 block w-full border-primary border-opacity-50 py-2"
          id="username"
          placeholder="Enter username"
          [(ngModel)]="user.username"
          name="username"
        />
        <input
          type="email"
          class="border-b my-4 block w-full border-primary border-opacity-50 py-2"
          id="email"
          placeholder="Enter email"
          name="email"
          [(ngModel)]="user.email"
        />
        <input
          type="password"
          class="border-b my-4 block w-full border-primary border-opacity-50 py-2"
          id="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="user.password"
        />
        <div class="type-container">
          <select
            class="border-b my-4 block w-full border-primary border-opacity-50 py-2 peer"
            id="userType"
            name="accountType"
            [(ngModel)]="user.accountType"
          >
            <option value="buyer">Buyer</option>
            <option value="seller">Seller</option>
          </select>
          <label
            for="userType"
            class="my-1 ps-1 type text-primary peer-focus:hidden"
            >Account type</label
          >
        </div>
        <button
          type="button"
          (click)="onSignup()"
          class="w-full bg-[black] text-[white] text-center py-2"
        >
          Sign Up
        </button>
        <p *ngIf="showMessage == true" class="ps-1 error text-xs py-2">
          {{ signUpMessage }}
        </p>
      </form>
    </div>
  </div>
</div>
