<div
  class="fixed bottom-0 w-full py-4 bg-[black] text-white px-3 md:px-20 lg:px-40 z-50"
>
  <nav class="flex justify-between items-center py-4 flex-col md:flex-row">
    <h2
      routerLink=""
      class="text-base md:text-2xl font-primary font-semibold text-[white]"
    >
      The E-comm Hub
    </h2>
    <ul
      class="list-none flex flex-col md:flex-row justify-center items-center h-full text-[#f3f5f7] md:text-base text-xs leading-6 md:leading-normal"
    >
      <li
        routerLinkActive="active"
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true }"
        class="me-4"
      >
        Home
      </li>
      <li routerLinkActive="active" routerLink="/shop" class="me-4">Shop</li>
      <li routerLinkActive="active" routerLink="/contact" class="">
        Contact us
      </li>
    </ul>
  </nav>
  <hr
    class="mx-auto md:mx-0 w-4/5 my-2 md:my-4 md:w-3/5 border-[#f3f5f7] border-b opacity-50"
  />
  <nav>
    <p
      class="text-[white] pt-4 pb-2 text-[.5rem] md:text-left text-center md:text-xs font-secondary"
    >
      Copyright &copy; 2024. Nisma Elagder. All rights reserved.
    </p>
  </nav>
</div>
