<div class="max-w-1/2 md:w-auto">
  <h3 class="capitalize text-2xl md:text-4xl">{{ category }}</h3>
  <button
    class="underline flex justify-center items-center my-2"
    routerLink=""
    type="button"
    routerLink="/shop"
  >
    Shop Now
    <img src="../../../../assets/arrow-right.svg" alt="category" class="ms-2" />
  </button>
</div>
<div class="w-1/2 flex justify-end flex-col">
  <img
    src="{{ src }}"
    alt="{{ category }}"
    class="w-full shadow-md h-[90%] rounded-md"
  />
</div>
